@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$primary-color : #299EF7;
$secondary-color : #FAFAFA;


* {
    font-family: roboto;
    margin: 0px;
    padding: 0px;

}


body {
    background-color: #fafafa;
}


input:focus {
    outline: none ;
}
a, 
a::hover {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;    
    padding-bottom: 0px;
    margin-bottom: 0px;
}

